*{
	margin: auto;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.center {
    text-align: center;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
}

section:nth-of-type(1){
    background: #02021a;
}

section:nth-of-type(2){
    background: #000;
}

section:nth-of-type(3){
    background: #02021a;
}

section:nth-of-type(4){
    background: #02021a;
}

.imgLogo {
    position: relative;
    top: 0px;
    left: 7%;
}

.navbar {
    width: 200%;
	float: right;
	font-size: 20px;
    position: relative;
    top: -290px;
    left: 190%;
}

nav.navbar ul li{
	float: left;
    padding-left: 15%;
	list-style: none;
}

nav.navbar ul li a{
	color: #fff;
	text-decoration: none;
}

nav.navbar ul li a:hover{
	color: #fff;
	border-radius: 10px;
	padding: 10px;
	text-decoration: none;
	background: rgb(0,147,233);
	background: linear-gradient(160deg, rgba(0,147,233,0.49763655462184875) 0%, rgba(128,208,199,0.49763655462184875) 100%);
}

.navTitulo {
    position: relative;
    top: -250px;
    left: 300px;
}

/*.video {
    position: relative;
    top: 5%;
    right: 11.5%;
} */

.informacao {
    position: relative;
    top: -40%;
    left: 42%;
    color:#fff;
}

.texto1 {
    width: 40%;
    position: relative;
    top: -15%;
    right: 11%;
    color: #fff;
}

.texto2 {
    width:40%;
    position: relative;
    top: -15%;
    right: 5%;
    color: #fff;
}

.posicao1 {
    position: relative;
    left: 10%;
    top: -25%;
    color:#fff;
}

.posicao1:hover {
    background: rgb(0,147,233);
	background: linear-gradient(160deg, rgba(0,147,233,0.49763655462184875) 0%, rgba(128,208,199,0.49763655462184875) 100%);
    border-radius: 10px;
	padding: 10px;
	text-decoration: none; 
}

.posicaoImg1 {
    position: relative;
    left: 25%;
}

.posicao2 {
    position: relative;
    left: 20%;
    top: -25%;
    color:#fff;
}

.posicao2:hover {
    background: rgb(0,147,233);
	background: linear-gradient(160deg, rgba(0,147,233,0.49763655462184875) 0%, rgba(128,208,199,0.49763655462184875) 100%);
    border-radius: 10px;
	padding: 10px;
	text-decoration: none; 
}

.posicaoImg2 {
    position: relative;
    left: 25%;
}

.posicao3 {
    position: relative;
    left: 30%;
    top: -25%;
    color:#fff;
}

.posicao3:hover {
    background: rgb(0,147,233);
	background: linear-gradient(160deg, rgba(0,147,233,0.49763655462184875) 0%, rgba(128,208,199,0.49763655462184875) 100%);
    border-radius: 10px;
	padding: 10px;
	text-decoration: none; 
}

.posicaoImg3 {
    position: relative;
    left: 25%;
}

.posicao4 {
    position: relative;
    right: 28%;
    top: 23%;
    color:#fff;
}

.posicao4:hover {
    background: rgb(0,147,233);
	background: linear-gradient(160deg, rgba(0,147,233,0.49763655462184875) 0%, rgba(128,208,199,0.49763655462184875) 100%);
    border-radius: 10px;
	padding: 10px;
	text-decoration: none; 
}

.posicaoImg4 {
    position: relative;
    left: 25%;
}

.posicao5 {
    position: relative;
    right: 17%;
    top: 23%;
    color:#fff;
}

.posicao5:hover {
    background: rgb(0,147,233);
	background: linear-gradient(160deg, rgba(0,147,233,0.49763655462184875) 0%, rgba(128,208,199,0.49763655462184875) 100%);
    border-radius: 10px;
	padding: 10px;
	text-decoration: none; 
}

.posicaoImg5 {
    position: relative;
    left: 25%;
}

.equipe {
    color: #fff;
    width: 100%;
    position: relative;
    top: -40%;
    left: 3%;
}

.rodape{
	position: relative;
    top: -60px; 
    width: 100%;
	margin-top: 3.1%;
    background-color: black;
    color: white;
}